body {
	text-align: center;
	font-size: 3em;
}

#list {
	margin-top: 2vh;	

	text-align: auto;
	width: 100%;

	font-size: 1.2rem;
}

#list tr:nth-of-type(odd) {
	background-color: lightgrey;
}

#list td {
	padding-left: 1vw;
	padding-right: 1vw;
}

@media(orientation:portrait) {
	#list {
		font-size: 4vmax;
	}
}