<!-- If this HTML output's indentation looks awful, blame templating -->
<title>Oliver's Website</title>
<link rel="stylesheet" href="/assets/style/style.css">
<link rel="icon" type="image/png" href="/assets/images/icon.png?reloadyoustupidicon=3">
<meta name="author" content="Oliver Marks">
<meta name="description" content="Random Stuff">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="F6P4moGYaKEFCLBrNmAZjhn6sEJ7zQTZpUQIW1Z4PZA">
