nav
    a(href="/")
        table(cellspacing="0" class="square-grid")
            tr
                td.off
                td.on
                td.off
            tr
                td.off
                td.off
                td.on
            tr
                td.on
                td.on
                td.on
    a(href="/experiments") Experiments
    a(href="/git") Projects
    a(href="/stuff") Blogish
    a(href="/search") Search