<nav>
    <a href="/">
        <table cellspacing="0" class="square-grid">
            <tr>
                <td class="off"></td>
                <td class="on"></td>
                <td class="off"></td>
            </tr>
            <tr>
                <td class="off"></td>
                <td class="off"></td>
                <td class="on"></td>
            </tr>
            <tr>
                <td class="on"></td>
                <td class="on"></td>
                <td class="on"></td>
            </tr>
        </table>
    </a>
    <a href="/experiments">Experiments</a>
    <a href="/git">Projects</a>
</nav>
