<ul style="list-style: none; padding: 0;">
    <h2>Experiments</h2>
    $for(experiments)$
        <li>
            <a href="$url$" style="text-decoration: none; color: black">
                <h3 style="display: inline">$title$</h3> $if(description)$ - <em style="display: inline">$description$</em> $endif$
                $if(teaser)$ <div class="excerpt">$teaser$</div> $endif$
            </a>
        </li>
    $endfor$
    <h2>Stuff I Say</h2>
    $for(blog)$
    <li>
        <a href="$url$" style="text-decoration: none; color: black">
            <h3 style="display: inline">$title$</h3> $if(description)$ - <em style="display: inline">$description$</em> $endif$
            $if(teaser)$ <div class="excerpt">$teaser$</div> $endif$
        </a>
    </li>
    $endfor$
</ul>
